.json-table-flowchart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.json-table-flowchart .palette {
  position: relative;
  width: 100px;
  margin-right: 2px;
  cursor: auto;
}

.json-table-flowchart .diagram {
  position: relative;
  flex-grow: 1;
  height: 100vh;
  cursor: auto;
  font:
    bold 8.25em Lato,
    Helvetica,
    Arial,
    sans-serif;
}
