/**
 * Overrides conflicting styling from seven.
 */
.jsoneditor tr {
  border: 0;
}

.jsoneditor table {
  margin: 0;
}

/* CSS Overrides */
.jsonview {
  overflow: scroll;
  height: 25em;
  padding: 0.625em;
  border: solid 1px #ccc;
  background-color: #eee;
}
