{% if gridStack %}
  <div id="{{ id }}" class="card grid-stack-item" gs-x="{{ x }}" gs-y="{{ y }}" gs-w="{{ w }}" gs-h="{{ h }}" gs-id="{{ id }}" data-once="details" data-weight="{{ weight }}" {% if not collapse %} open {% endif %}>
    <div class="card-body p-0 grid-stack-item-content">
      <div class="card-title" data-bid="{{ id }}" >
        <strong>{{ title }}</strong>
        <button type="button" class="btn-close hidden float-end" aria-label="Close" data-bid="{{ bid }}"><span class="d-none">X</span></button>
      </div>
      {{ content }}
    </div>
  </div>
{% else %}
  <details id="{{ id }}" class="card details mt-1 mb-1 draggable grid-stack-item" gs-x="{{ x }}" gs-y="{{ y }}" gs-w="{{ w }}" gs-h="{{ h }}" gs-id="{{ id }}" data-once="details" data-weight="{{ weight }}" {% if not collapse %} open {% endif %}>
    {% if title %}
      <summary aria-controls="{{ id }}" aria-expanded="{% if collapse %}false{% else %}true{% endif %}"
               role="button" class="card-header" data-bid="{{ id }}" >
        {{ title }}
        <button type="button" class="btn-close hidden float-end" aria-label="Close" data-bid="{{ id }}"><span class="d-none">X</span></button>
      </summary>
    {% endif %}
    <div id="card-{{ id }}" class="collapse {% if not collapse %} show {% endif %}" aria-labelledby="heading-{{ id }}">
      <div class="card-body grid-stack-item-content">
        {{ content }}
      </div>
    </div>
  </details>
{% endif %}
