<div class="overflow-auto">
  <div class="row list-block">
    {% for key, block in blocks %}
      <div id="block-{{ key|replace({':':'-'}) }}"
           class="col-auto border rounded me-2 mb-2 grid-stack-item block button"
           role="button"
          gs-id="{{ key }}"
          data-delta="{{ key }}">
        <div class="grid-stack-item-content">
          <i class="bi bi-arrows-move handle"></i>
          {{ block }}
          <div class="content"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{{ content }}
